@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:none;
}

h1, h2, h3, h4, h5, h6, li, pre {
	line-height:100%;
	font-family: 'Ubuntu', sans-serif;
}

button {
	font-family: 'Ubuntu', sans-serif;
}

blockquote, q {
	quotes:none;
}

q:before, q:after {
	content:"";
}

textarea {
	overflow:auto;
	resize:none;
}

body {
	margin:0px;
	padding:0px;
	font-size:13px;
	line-height:21px;
	color:#FFFFFF;
	background-image: linear-gradient(to right, #E95420, #77216F);
	font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

h1 {
	font-size:33px;
	margin-bottom:10px;
}

h2 {
	font-size:25px;
	margin-bottom:10px;
}

h3 {
	font-size:18px;
	margin-bottom:10px;
}

h4 {
	font-size:16px;
	margin-bottom:10px;
}

h5 {
	font-size:14px;
	margin-bottom:10px;
}

h6 {
	font-size:12px;
	margin-bottom:10px;
}

.clear {
	clear:both;
}

.left {
	float:left;
}

.right {
	float:right;
}

.copyright {
	border: 0px;
	height: 1px;
	width: 1px;
}

#wrapper {
	width:1000px;
	margin:0 auto;
	padding:20px 0 10px 0;
}

/*----start header----*/
#header {
	padding:0px 0px 5px;
	display: flex;
}

#header .top_banner{
	background:#333333;
	border: 2px solid #363636;
	border-radius: 20px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	height:125px;
	flex-grow: 1;
	padding:75px 95px 0 20px;
}

.login{
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.login_box{
	display: flex;
	background:#333333;
	border: 2px solid #363636;
	border-radius: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	height: 250px;
	width: 500px;
	padding: 20px;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.login_form input{
	padding: 5px;
	border-radius: 10px;
	background-color: #2c2c2c;
	border: 2px solid #AEA79F;
	color: #FFFFFF;
}
.login_form input:hover{
	background-color: #363636;
	border: 2px solid #E95420;
	color: #FFFFFF;
}

.top_banner h1{
	font-size:32px;
	color:#E95420;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	margin:0px;
	font-weight:bold;
	padding:0px 0px 10px;
	text-align: left !important; 
    margin-left: 0 !important;
}

#page_content{
	background:#333333;
	border: 2px solid #363636;
	padding:10px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

#page_content .right_section{
	width:735px;
	float:right;
}

#page_content .right_section .top_content{
	padding:15px 0 0px 0;
}

#page_content .right_section .top_content .column_one{
	width:300px;
	float:left;
	margin-bottom:20px;
}

#page_content .right_section .top_content .column_two{
	width:300px;
	float:right;
	margin-bottom:20px;
}

#page_content2{
	background:#333333;
	border: 2px solid #363636;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	width: 392px;
}
#page_container{
	display: flex;
	justify-content: space-between;
	width: 1000px;
}
.common_content{
	padding:0 0 20px 0;
}

.border_left{
	border-left:#6e7678 dotted 1px;
	padding-left:20px;
}

.border_none{
	border:none!important;
	margin:0px!important;
}
.content{
	display: flex;
	justify-content: space-between;
}

.left_side_bar{
	width: 250px;
	margin-bottom:10px;
	justify-content: left;
}
.right_side{
	width: 725px;
	margin-left: 20px;
}

.left_side_bar .col_1{
	padding:0px 0 20px 0;
}

.left_side_bar .col_1 .box{
	padding:10px 15px 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	border: 2px solid #363636;
	border-radius: 10px; 
}

.left_side_bar .col_1 .box ul{
	margin:0px;
	padding:0px;
}

.left_side_bar .col_1 .box ul li{
	margin:0px 0px 15px;
	padding:0px 0px 0px 20px;
	font-size:13px;
	list-style-type:none;
}

.left_side_bar .col_1 .box ul li a{
	color:#E95420;
	font-weight:bold;
	text-decoration:underline;
}

.left_side_bar .col_1 .box ul li a:hover{
	color:#E95420;
	font-weight:bold;
	text-decoration:none;
}
.ping-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    vertical-align: middle;
}
.ping-success {
    background-color: green;
}

.ping-failure {
    background-color: red;
}
.right-side-title {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.panel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}
.panel-box {
    width: calc(50% - 10px);
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #333333;
    border-radius: 10px; 
    padding: 10px;
    box-sizing: border-box;
    color: #E95420; 
    font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}
.panel-box1{
	height: 200px;
	width: 100%;
	margin-bottom: 20px;
    background-color: #333333;
    border-radius: 10px; 
    padding: 10px;
    color: #E95420; 
    font-weight: bold;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}
.panel-box a {
    color: #ffffff; 
}
.panel-box:nth-child(2n) {
    margin-right: 0;
}
.on-off-stat{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.box-stat-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-size: 15px;
}
#box-stat{
	display: flex;
	border-radius: 10px;
	margin: 10px;
	width: 100px;
	height: 100px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
#box-text{
	display: flex;
	width: 100px;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	color: #FFFFFF;
}
.box-on{
	background-color: #1e851b;
}
.box-off{
	background-color: #d80000;
}
.alert-box{
	display: flex;
	justify-content: space-between;
	height: 100%;
	margin-right: 20px;
}
.alert-box ul{
	list-style-type: none;
	color: #FFFFFF;
}
.alert-box strong{
	font-size: large;
	color: #ee9f22;
}
.alert-box a{
	font-size: large;
	color: #E95420; 
}
.alert-box p{
	color: #FFFFFF;
}
.img-alert{
	display: flex;
	height: 100%;
	align-items: center;
}
.title-test{
	width: 100%;
	display: flex;
	justify-content: center;
}
.panel-box1 p{
	font-size: large;
	text-align: center;
}
.test-select{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	margin-right: 75px;
	margin-left: 75px;
}
.iperf-select{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.iperf-button{
	display: flex;
	justify-content: center;
}
.iperf-button button{
	border: none; 
	color: white;
	background-color: #E95420; 
	padding: 10px 10px; 
	cursor: pointer; 
	border-radius: 7px;
	margin-left: 2px;
}
.iperf-button button:hover{
	background-color: #AEA79F;
}
.iperf-result{
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.panel-box1 select {
    padding: 5px;
    border-radius: 10px;
    background-color: #2c2c2c;
    border: 2px solid #AEA79F;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}
.panel-box1 option {
    padding: 5px;
    background-color: #2c2c2c;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
}
.panel-box1 option:hover {
    background-color: #363636;
    color: #FFFFFF;
}
.panel-box1 select:hover, .panel-box1 select:focus {
    border-color: #E95420;
    outline: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal button{
	border: none; 
	color: white;
	background-color: #AEA79F; 
	padding: 5px 5px; 
	cursor: pointer; 
	border-radius: 7px;
}
.modal button:hover{
	background-color: #E95420;
}
.modal input{
	padding: 5px;
	border-radius: 10px;
	background-color: #2c2c2c;
	border: 2px solid #AEA79F;
	color: #FFFFFF;
}
.modal input:hover{
	background-color: #363636;
	border: 2px solid #E95420;
	color: #FFFFFF;
}
.modal-content {
    background:#333333;
	border: 2px solid #363636;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
	border-radius: 20px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#reboot{
	cursor: pointer;
}
#shutdown{
	cursor: pointer;
}
#shutdown:hover{
	filter: brightness(50%);
}
#reboot:hover{
	filter: brightness(50%); 
}
#ajustes:hover{
	filter: brightness(50%);
}
.close:hover, .close:focus {
    color: #E95420;
    text-decoration: none;
    cursor: pointer;
}
#eliminar{
	text-decoration: underline;
	color:#FFFFFF;
	font-size: 8px;
	cursor: pointer;
}
#eliminar:hover{
	text-decoration: none;
}
#boton_service{
	border: none; 
	color: white;
	background-color: #AEA79F; 
	padding: 5px 5px; 
	cursor: pointer; 
	border-radius: 7px;
	margin-left: 2px;
}
#boton_service:hover{
	background-color: #E95420;
}
.service-list{
	list-style-type: none;
}
#service_space{
	display: flex;
	justify-content: space-between;
	margin-bottom: 2px;
}
#service_space p{
	font-size: 12px;
	padding-top: 5px;
}
#service-name{
	display: flex;
	justify-content: center;
	margin-right: 15px;
}
#service-manage{
	display: flex;
	justify-content: center;
}
#top-page{
	display: flex;
	justify-content: space-between;
	padding-right: 5%;
}
#editar{
	text-decoration: underline;
	color:#FFFFFF;
	font-size: 8px;
	cursor: pointer;
	padding-left: 14px;
}
#editar:hover{
	text-decoration: none;
}

.modal-content{
	width: 25%;
	border-radius: 20px; 
}
#anadir{
	text-decoration: underline;
	color:rgb(255, 255, 255);
	cursor: pointer;
	font-size: 10px;
	padding-left: 10px;
}
#anadir:hover{
	text-decoration: none;
}
#service-status{
	padding: 5px;
	color:white;
	border-radius: 5px; 
}
#servicios{
	padding-top: 10px;
}
#onDate{
	color: #1e851b;
}
#offDate{
	color: #d80000;
}
#upPage{
	display: flex;
	justify-content: space-between;
	padding-right: 30px;
}
#boxOn{
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	border: 2px solid #363636;
	border-radius: 10px; 
	padding: 8px;
	margin-bottom: 8px;
	background:#333333;
}
#boxOff{
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
	border: 2px solid #363636;
	border-radius: 10px; 
	padding: 8px;
	background:#333333;
}
#boton_ip{
	border: none; 
	color: white;
	background-color: #AEA79F; 
	padding: 7px 10px; 
	cursor: pointer; 
	border-radius: 5px; 
}
#boton_ip:hover{
	background-color: #E95420;
}
#networkInterfaces{
	display: flex;
	justify-content: space-between;
	padding-right: 10px;
	margin-bottom: 10px;
}
#toggle-list-items{
    display: none;
}

#toggle-list-header{
    display: flex;
    cursor: pointer; 
}

#center-content{
	display: flex;
	justify-content: space-between;
}
#left-center-content{
	width: 60%;
}
#volver-inicio{
	color: #E95420;
}
.progress-bar {
	background-color: #4CAF50;
	height: 24px;
	color: white;
	text-align: center;
	line-height: 24px;
	transition: width 0.5s;
  }
#barra-fondo{
	background-color: #AEA79F;
	width: 80%;
	margin-right: 8px;
	border-radius: 10px;
}
#barra{
	background-image: linear-gradient(to right, #E95420, #77216F);;
	color: transparent;
	border-radius: 10px 0px 0px 10px;
}
#espacio-barra{
	display: flex;
}
#secciones{
	margin-top: 20px;
	border-bottom: 2px solid #AEA79F;
	padding-bottom: 20px;
}
#titulos{
	font-size: large;
	color: #E95420;
}
.funciones{
	margin-top: 10px;
}
.funciones strong{
	color: #E95420;
}
/*----end footer content----*/