<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Detalles del Servidor</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="wrapper"> 
    
      <div id="header"> 
        <div class="top_banner">
          <h1>Monitorización de Servidores</h1>
        </div>
      </div>
    
      <div id="page_content">
        <div class="content">
          <div class="left_side_bar"> 
            <div class="col_1">
              <h1>Main Menu</h1>  
              <div class="box">
                <ul>
                  {% for servers in servers %}
                  <li>
                    <span class="ping-status {{ 'ping-success' if ping_statuses[servers.Nombre] else 'ping-failure' }}"></span>
                    <a href="{{ url_for('server_details', servers_id=servers.id) }}">{{ servers.Nombre }}</a>
                    <form action="{{ url_for('delete_server', servers_id=servers.id) }}" method="post">
                      <button type="button" id="editar" onclick="openEditModal('{{ servers.id }}', '{{ servers.Nombre }}', '{{ servers.IP }}', '{{ servers.usuario_ssh }}')">Editar</button>
                      <button type="submit" id="eliminar">Eliminar</button>
                    </form>
                  </li>
                  {% endfor %}
                </ul>
                <button type="button" onclick="openModal()" id="anadir">+ Añadir Servidor...</button> 
              </div>
            </div>
          </div>
          <div class="right_side">
            <div id="top-page">
              <div><h1>Detalles del Servidor</h1></div>
              <div>
                <img onclick="sysShutdown('{{ server.id }}')" src="../static/images/shutdown-icon.png" height="25" width="25" alt="shutdown" title="shutdown" id="shutdown">
                <img onclick="sysReboot('{{ server.id }}')" src="../static/images/reboot.png" height="25" width="25" alt="reboot" title="reboot" id="reboot">
              </div>
            </div>
            <div id="upPage">
              <div id="intro">
                <p><strong>Nombre:</strong> {{ server.Nombre }}</p>
                <p><strong>IP:</strong> {{ server.IP }}</p>
                <strong>Sistema Operativo</strong><pre>{{ sistemaOperativo }}</pre>
              </div>
              <div id="dateInfo">
                <div id="boxOn"><p id="onDate"><b>Última vez en ON: </b></p>
                  <p>{{ server.last_online.strftime('%Y-%m-%d %H:%M:%S') if server.last_online else 'Sin registro' }}</p>
                </div>
                <div id="boxOff"><p id="offDate"><b>Última vez en OFF: </b></p>
                  <p>{{ server.last_offline.strftime('%Y-%m-%d %H:%M:%S') if server.last_offline else 'Sin registro' }}</p></div>
              </div>
            </div>
            <div id="center-content">
              <div id="left-center-content">
                <div id="secciones">
                  <strong id="titulos">Espacio disponible</strong>
                  <div id="espacio-server" class="funciones">
                    <div><p><strong>Espacio Total:</strong> {{ espacio_total }}</p></div>
                    <div><p><strong>Espacio Usado:</strong> {{ espacio_usado }}</p></div>
                    <div><p><strong>Espacio Libre:</strong> {{ espacio_free }}</p></div>
                    <div id="espacio-barra">
                      <div id="barra-fondo">
                        <div style="width: {{ espacio_porcentaje_num }}%;" id="barra">total</div>
                      </div>
                      <div id="porcentaje-espacio">
                        <p>{{ espacio_porcentaje_usado }}%</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="secciones">
                  <strong id="titulos">Interfaces de Red</strong>
                  <div class="funciones">
                    <div>
                      <ul>
                          {% for interfaz in interfaces %}
                              <li>
                                  <div id="networkInterfaces">
                                    <div><p><strong>{{ interfaz.nombre }}:</strong> {{ interfaz.ip }}</p></div>
                                    <div>
                                      <button onclick="cambiarIP('{{ server.id }}', '{{ interfaz.nombre }}')" id="boton_ip">Cambiar IP</button>
                                      <button onclick="cambiarInterfaceName('{{ server.id }}', '{{ interfaz.nombre }}')" id="boton_ip">Cambiar Nombre Interfaz</button>
                                    </div>
                                  </div>
                              </li>
                          {% endfor %}
                      </ul>
                   </div>
                  </div>
                </div>
                <div id="secciones">
                  <strong id="titulos">Componentes del servidor</strong>
                  <div class="funciones">
                    <div class="toggle-list" id="toggle-list">
                      <div class="toggle-list-header" id="toggle-list-header" onclick="toggleList()"><span>▶ </span><h3> Información del servidor</h3></div>
                      <div class="toggle-list-items" id="toggle-list-items">
                          <div><p><strong>Nombre servidor:</strong> {{ nombre_servidor }}</p></div>
                          <div><p><strong>Marca servidor:</strong> {{ marca_servidor }}</p></div>
                          <div><p><strong>Modelo servidor:</strong> {{ modelo_servidor }}</p></div>
                          <div><p><strong>Version BIOS:</strong> {{ bios_version }}</p></div>
                      </div>
                    </div>
                    <div class="toggle-list1" id="toggle-list">
                      <div class="toggle-list-header1" id="toggle-list-header" onclick="toggleList1()"><span>▶</span><h3>CPU</h3></div>
                      <div class="toggle-list-items1" id="toggle-list-items" >
                          <div><p><strong>Nombre CPU:</strong> {{ cpu_name }}</p></div>
                          <div><p><strong>Nucleos:</strong> {{ cpu_cores }}</p></div>
                      </div>
                    </div>
                    <div class="toggle-list2" id="toggle-list">
                      <div class="toggle-list-header2" id="toggle-list-header" onclick="toggleList2()"><span>▶</span><h3>GPU</h3></div>
                      <div class="toggle-list-items2" id="toggle-list-items" >
                        <div><p><strong>Modelo GPU:</strong> {{ gpu_name }}</p></div>
                      </div>
                    </div>
                    <div class="toggle-list3" id="toggle-list">
                      <div class="toggle-list-header3" id="toggle-list-header" onclick="toggleList3()"><span>▶</span><h3>RAM</h3></div>
                      <div class="toggle-list-items3" id="toggle-list-items" >
                        <div><p><strong>Tipo:</strong> {{ ram_type }}</p></div>
                        <div><p><strong>Capacidad:</strong> {{ ram_cap }}</p></div>
                        <div><p><strong>En uso:</strong> {{ ram_in_use }}</p></div>
                        <div><p><strong>Libre:</strong> {{ ram_free }}</p></div>
                      </div>
                    </div>
                    <div class="toggle-list4" id="toggle-list">
                      <div class="toggle-list-header4" id="toggle-list-header" onclick="toggleList4()"><span>▶</span><h3>Base Board</h3></div>
                      <div class="toggle-list-items4" id="toggle-list-items" >
                        <div><p><strong>Marca:</strong> {{ mboard_name }}</p></div>
                        <div><p><strong>Modelo:</strong> {{ mboard_model }}</p></div>
                      </div>
                    </div>
                    <div class="toggle-list5" id="toggle-list">
                      <div class="toggle-list-header5" id="toggle-list-header" onclick="toggleList5()"><span>▶</span><h3>Ventilación</h3></div>
                      <div class="toggle-list-items5" id="toggle-list-items" >
                        <div><p><strong>Tipo de ventilación:</strong> {{ ventilation_type }}</p></div>
                        <div><p><strong>Velocidad:</strong> {{ programmed_speed }}</p></div>
                        <div><p><strong>Estado:</strong> {{ ventilation_status }}</p></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="right-center-content">
                <strong id="titulos">Servicios</strong>
                <div id="servicios">
                  {% if servicios is string %}
                      <pre>{{ servicios }}</pre>
                  {% else %}
                      <ul class="service-list">
                          {% for servicio in servicios %}
                              <li>
                                <div id="service_space">
                                  <div id="service-name">
                                    <span style="color: {{ servicio.color }};" id="service-status"><b>{{ servicio.estado }}</b></span><p> {{ servicio.nombre }}</p>
                                  </div>
                                  <div id="service-manage">
                                    <button onclick="manageService('{{ server.id }}', '{{ servicio.nombre }}', 'start')" id="boton_service">▶</button>
                                    <button onclick="manageService('{{ server.id }}', '{{ servicio.nombre }}', 'stop')" id="boton_service">❚❚</button>
                                    <button onclick="manageService('{{ server.id }}', '{{ servicio.nombre }}', 'restart')" id="boton_service">↺</button>
                                  </div>
                                </div>
                              </li>
                          {% endfor %}
                      </ul>
                  {% endif %}
                </div>  
              </div>
            </div>
            <a href="{{ url_for('index') }}" id="volver-inicio">Volver al inicio</a>
          </div>
        </div>
      </div>

      
        <div class="modal" id="addServersModal">
          <div class="modal-content">
              <span class="close" onclick="closeModal()">&times;</span>
              <h5 class="modal-title"><b>Añadir Servidor</b></h5><br>
              <div class="modal-body">
                  <form method="post">
                      {{ form.hidden_tag() }}
                      {{ form.Nombre.label }}: <br>{{ form.Nombre() }}<br><br>
                      {{ form.IP.label }}: <br>{{ form.IP() }}<br><br>
                      {{ form.usuario_ssh.label }}: <br>{{ form.usuario_ssh() }}<br><br>
                      {{ form.contrasena_ssh.label }}: <br>{{ form.contrasena_ssh() }}<br><br>
                      {{ form.submit() }}
                  </form>
              </div>
          </div>
        </div>
        <div id="editServerModal" class="modal">
          <div class="modal-content">
              <span class="close" onclick="closeEditModal()">&times;</span>
              <h5 class="modal-title"><b>Editar Servidor</b></h5><br>
              <div class="modal-body">
                  <form id="editServerForm" method="post">
                      <input type="hidden" id="editServerId" name="server_id">
                      Nombre: <br><input type="text" id="editNombre" name="Nombre"><br><br>
                      IP: <br><input type="text" id="editIP" name="IP"><br><br>
                      Usuario SSH: <br><input type="text" id="editUsuarioSSH" name="usuario_ssh"><br><br>
                      Contraseña SSH: <br><input type="password" id="editContraseñaSSH" name="contrasena_ssh"><br><br>
                      <button type="submit">Guardar Cambios</button>
                  </form>
              </div>
          </div>
        </div>
        <div id="changeIPModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="closeChangeIPModal()">&times;</span>
            <h5 class="modal-title">Cambiar IP</h5>
            <input type="text" id="newIP" placeholder="Nueva IP">
            <button onclick="submitNewIP()" id="boton_ip">Cambiar IP</button>
          </div>
        </div>
        <div id="changeInterfaceNameModal" class="modal">
          <div class="modal-content">
            <span class="close" onclick="closeChangeInterfaceNameModal()">&times;</span>
            <h5 class="modal-title">Cambiar Nombre Interfaz</h5>
            <input type="text" id="newInterfaceName" placeholder="Nuevo nombre">
            <button onclick="submitNewInterfaceName()" id="boton_ip">Cambiar Nombre Interfaz</button>
          </div>
        </div>
    </div>
    
    <script>
      setTimeout(function(){
         location.reload();
      }, 100000);
    
        var modal = document.getElementById("addServersModal");
    
        function openModal() {
            modal.style.display = "block";
        }
    
        function closeModal() {
            modal.style.display = "none";
        }
    
        window.onclick = function(event) {
          if (event.target == modal) {
                modal.style.display = "none";
          }
        }
        function sysShutdown(serverId) {
          if(confirm('¿Estas seguro de que quieres apagar el servidor?')) {
              fetch(`/shutdown/${serverId}`, { method: 'POST' })
                  .then(response => response.json())
          }
        }

        function sysReboot(serverId) {
          if(confirm('¿Estas seguro de que quieres reiniciar el servidor?')) {
                fetch(`/reboot/${serverId}`, { method: 'POST' })
                    .then(response => response.json())
          }
        }

        function manageService(serversId, service, action) {
          fetch(`/manage_service/${serversId}/${service}/${action}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Accion realizada con exito: ' + data.output);
                } else {
                    alert('Error: ' + data.message);
                }
            });
          }
          function openEditModal(serverId, nombre, ip, usuarioSSH) {
            document.getElementById('editServerId').value = serverId;
            document.getElementById('editNombre').value = nombre;
            document.getElementById('editIP').value = ip;
            document.getElementById('editUsuarioSSH').value = usuarioSSH;
            document.getElementById('editServerModal').style.display = 'block';
        }
        function cambiarIP(serverId, interfaceName) {
            var modal = document.getElementById('changeIPModal');
            modal.setAttribute('data-server-id', serverId);
            modal.setAttribute('data-interface-name', interfaceName);
            modal.style.display = 'block';
        }
        function cambiarInterfaceName(serverId, interfaceName) {
            var modal = document.getElementById('changeInterfaceNameModal');
            modal.setAttribute('data-server-id', serverId);
            modal.setAttribute('data-interface-name', interfaceName);
            modal.style.display = 'block';
        }

        function submitNewIP() {
            var modal = document.getElementById('changeIPModal');
            var serverId = modal.getAttribute('data-server-id');
            var interfaceName = modal.getAttribute('data-interface-name');
            var newIP = document.getElementById('newIP').value;

            fetch(`/change_ip/${serverId}/${interfaceName}/${newIP}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                closeChangeIPModal();
                if (data.status === 'success') {
                    location.reload();
                }
            });
        }
        function submitNewInterfaceName() {
            var modal = document.getElementById('changeInterfaceNameModal');
            var serverId = modal.getAttribute('data-server-id');
            var interfaceName = modal.getAttribute('data-interface-name');
            var newInterfaceName = document.getElementById('newInterfaceName').value;

            fetch(`/change_interface_name/${serverId}/${interfaceName}/${newInterfaceName}`, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                closeChangeIPModal();
                if (data.status === 'success') {
                    location.reload();
                }
            });
        }
        function closeChangeIPModal() {
            var modal = document.getElementById('changeIPModal');
            modal.style.display = 'none';
        }
        function closeChangeInterfaceNameModal() {
            var modal = document.getElementById('changeInterfaceNameModal');
            modal.style.display = 'none';
        }

        function closeEditModal() {
            document.getElementById('editServerModal').style.display = 'none';
        }

        document.getElementById('editServerForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var serverId = document.getElementById('editServerId').value;
            var data = {
                'Nombre': document.getElementById('editNombre').value,
                'IP': document.getElementById('editIP').value,
                'usuario_ssh': document.getElementById('editUsuarioSSH').value,
                'contrasena_ssh': document.getElementById('editContraseñaSSH').value
            };
            fetch(`/edit/${serverId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Servidor actualizado con exito');
                    closeEditModal();
                    location.reload(); 
                } else {
                    alert('Error al actualizar el servidor');
                }
            });
        });
      function toggleList() {
        var items = document.querySelector(".toggle-list-items");
        var header = document.querySelector(".toggle-list-header span");

        if (items.style.display === "none" || items.style.display === "") {
            items.style.display = "block";
            header.innerHTML = "▼";
        } else {
            items.style.display = "none";
            header.innerHTML = "▶";
        }
      }
      function toggleList1() {
        var items = document.querySelector(".toggle-list-items1");
        var header = document.querySelector(".toggle-list-header1 span");

        if (items.style.display === "none" || items.style.display === "") {
            items.style.display = "block";
            header.innerHTML = "▼";
        } else {
            items.style.display = "none";
            header.innerHTML = "▶";
        }
        
      }
      function toggleList2() {
        var items = document.querySelector(".toggle-list-items2");
        var header = document.querySelector(".toggle-list-header2 span");

        if (items.style.display === "none" || items.style.display === "") {
            items.style.display = "block";
            header.innerHTML = "▼";
        } else {
            items.style.display = "none";
            header.innerHTML = "▶";
        }
        
      }
      function toggleList3() {
        var items = document.querySelector(".toggle-list-items3");
        var header = document.querySelector(".toggle-list-header3 span");

        if (items.style.display === "none" || items.style.display === "") {
            items.style.display = "block";
            header.innerHTML = "▼";
        } else {
            items.style.display = "none";
            header.innerHTML = "▶";
        }
        
      }
      function toggleList4() {
        var items = document.querySelector(".toggle-list-items4");
        var header = document.querySelector(".toggle-list-header4 span");

        if (items.style.display === "none" || items.style.display === "") {
            items.style.display = "block";
            header.innerHTML = "▼";
        } else {
            items.style.display = "none";
            header.innerHTML = "▶";
        }
        
      }
      function toggleList5() {
        var items = document.querySelector(".toggle-list-items5");
        var header = document.querySelector(".toggle-list-header5 span");

        if (items.style.display === "none" || items.style.display === "") {
            items.style.display = "block";
            header.innerHTML = "▼";
        } else {
            items.style.display = "none";
            header.innerHTML = "▶";
        }
        
      }
</script>

    </script>
    </body>
</html>
