<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Settings</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css">
    </head>
        <body>
        <div id="wrapper"> 
        <div id="header"> 
            <div class="top_banner">
            <h1>Ajustes</h1>
            </div>
        </div>
        <div id="page_container">
            <div id="page_content2">
                    <h2>Gestión de Usuarios</h2>
                    <form action="{{ url_for('settings') }}" method="post" class="login_form">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.username.label }}<br>
                            {{ form.username(size=32) }}<br><br>
                        </p>
                        <p>
                            {{ form.password.label }}<br>
                            {{ form.password(size=32) }}<br><br>
                        </p>
                        <p>{{ form.submit() }}</p>
                    </form>
                </div>
            <div id="page_content2">
                <h2>Lista de Usuarios</h2>
                <ul>
                    {% for user in users %}
                    <li>{{ user.username }} 
                        <form action="{{ url_for('delete_user', user_id=user.id) }}" method="post">
                            <button type="submit" id="eliminar">Eliminar</button>
                        </form>
                    </li><br>
                    {% endfor %}
                </ul>
                <a href="{{ url_for('index') }}" id="volver-inicio">Volver al inicio</a>
            </div>
        </div>
    </body>
</html>
